name: "nuke"
on:
  workflow_call:
    secrets:
      NUGET_API_KEY:
        description: "NuGet API Key"
        required: false
      GH_TOKEN:
        description: "GitHub Token"
        required: false
      DAGGER_CLOUD_TOKEN:
        description: "Dagger Cloud Token"
        required: false
      DAGGER_SSH_PRIVATE_KEY:
        description: "dagger@cloud-tek.io key"
        required: true
    inputs:
      Directory:
        description: "Project directory"
        type: string
        required: true
      NetVersion:
        description: ".NET version"
        type: string
        default: "10.0"
        required: false
      NetSdkVersion:
        description: ".NET SDK version"
        type: string
        default: "10.0.100"
        required: false
      DaggerModule:
        description: "Dagger Module"
        type: string
        default: "github.com/cloud-tek/dagger/dotnet/cloudtek-build@v0.2.0"
        required: false
      CloudTekBuildVersion:
        description: "CloudTek.Build.Tool version"
        type: string
        default: "10.0.0"
        required: false
      Target:
        description: "NUKE Target"
        type: string
        default: "All"
        required: false
      Skip:
        description: "NUKE Skip Targets"
        type: string
        default: ""
        required: false

jobs:
  dagger:
    name: dagger
    runs-on: ubuntu-latest
    env: {}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: "0"
          token: ${{ secrets.GH_TOKEN }}
      - name: 'git config'
        run: |
          git config --global url."git@github.com:".insteadOf https://github.com
      - name: 'ssh-agent'
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DAGGER_SSH_PRIVATE_KEY }}
      - name: global.json
        shell: bash
        run: |
          if [ -f "${{ github.workspace }}/global.json" ]; then
            echo "global.json exists"
          else
            echo "{ \"tools\": { \"dotnet\": \"${{ inputs.NetSdkVersion }}\" } }" > ${{ github.workspace }}/global.json
          fi
      - name: dagger call
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: "latest"
          module: ${{ inputs.DaggerModule }}
          args: >-
            build
            --source ${{ github.workspace }}/${{ inputs.Directory }}
            --target ${{ inputs.Target }}
            --skip "${{ inputs.Skip }}"
            --toolVersion ${{ inputs.CloudTekBuildVersion }}
            --sdkVersion ${{ inputs.NetSdkVersion }}
            --auto-apply
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
      # - name: setup gitversion
      #   uses: gittools/actions/gitversion/setup@v0.12.1
      #   with:
      #     versionSpec: '5.x'

      # - name: run giversion
      #   id: gitversion
      #   uses: gittools/actions/gitversion/execute@v0.12.1

      # - uses: cloud-tek/poc-gitversion-action/smart-tag@0.2
      #   id: smart-tag
      #   with:
      #     semVer: ${{ steps.gitversion.outputs.semVer }}

      # - name: dotnet nuke --target All
      #   id: nuke-all
      #   shell: bash
      #   working-directory: ${{ inputs.Directory }}
      #   run: |
      #     dotnet nuke --target All
      # - name: dotnet nuke --target Push
      #   id: nuke-push
      #   if: ${{ inputs.Push }}
      #   shell: bash
      #   working-directory: ${{ inputs.Directory }}
      #   run: |
      #     dotnet nuke --target Push --nuget-api-url ${{ inputs.NuGetApiUrl }} --nuget-api-key ${{ secrets.NUGET_API_KEY }}

      # - uses: cloud-tek/poc-gitversion-action/smart-tag-cleanup@0.2
        # id: smart-tag-cleanup
        # if: ${{ failure() && !startsWith(github.ref, 'refs/heads/main') }}
        # with:
        #   build-status: ${{ steps.nuke-all.outputs.outcome }}
        #   semVer: ${{ steps.gitversion.outputs.semVer }}

      - name: tree results
        run: |
          tree ${{ github.workspace }}/results
      - name: tree artifacts
        run: |
          tree ${{ github.workspace }}/artifacts
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: (success() || failure())
        with:
          name: XUnit Tests
          path: ${{ github.workspace }}/results/tests/*.trx
          reporter: dotnet-trx
