name: "dotnet-push"
on:
  workflow_call:
    # outputs:
    #   artifact-name:
    #     description: "The name of the uploaded artifact"
    #     value: ${{ jobs.dagger.outputs.artifact-name }}
    secrets:
      NUGET_API_KEY:
        description: "NuGet API Key"
        required: false
      GH_TOKEN:
        description: "GitHub Token"
        required: false
    inputs:
      artifact-name:
        description: "The name of the artifact containing the packed packages"
        type: string
        required: true
      artifact-path:
        description: "The path to the packages inside the artifact"
        type: string
        required: true
      net-version:
        description: ".NET version"
        type: string
        default: "10.0"
        required: false
      net-sdk-version:
        description: ".NET SDK version"
        type: string
        default: "10.0.100"
        required: false

jobs:
  dotnet-push:
    name: dotnet-push
    runs-on: ubuntu-latest
    steps:
      - name: download-artifact
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ github.workspace }}/artifacts
      - name: tree artifacts
        run: |
          tree ${{ github.workspace }}/artifacts

      # - name: upload-artifacts
      #   uses: actions/upload-artifact@v5
      #   if: ${{ !(contains(inputs.skip, 'Pack') && contains(inputs.skip, 'Publish')) }}
      #   with:
      #     name: ${{ env.VAR_ARTIFACT_NAME }}
      #     path: ${{ github.workspace }}/artifacts
      #     if-no-files-found: error
