name: build

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

on:
  push:
    branches:
    - "main"
    - "release/*"
    paths:
      - ".github/workflows/**"
      - "*.sln"
      - "**/*.*sproj"
      - "**/*.cs"
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    uses: cloud-tek/.github/.github/workflows/dagger-cloudtek-build.yml@v0.3.0
    name: build
    with:
      directory: .
      dagger-module: git@github.com/cloud-tek/dagger/dotnet/cloudtek-build@refs/tags/v0.3.2
      cloudtek-build-version: '10.0.1'
      net-version: '10.0'
      net-sdk-version: '10.0.100'
      target: 'All'
      skip: ''
    secrets:
      GH_TOKEN:       '${{ secrets.CLOUDTEK_AUTOMATION_TOKEN }}'
      NUGET_API_KEY:  '${{ secrets.NUGET_API_KEY }}'
      DAGGER_CLOUD_TOKEN: '${{ secrets.DAGGER_CLOUD_TOKEN }}'
      DAGGER_SSH_PRIVATE_KEY: '${{ secrets.DAGGER_SSH_PRIVATE_KEY }}'

  push:
    uses: ./.github/workflows/dotnet-push.yml
    name: push
    needs: build
    with:
      artifact-name: ${{ needs.build.outputs.artifact-name }}
      artifact-path: 'packages/**/*.nupkg'
      net-version: '10.0'
      net-sdk-version: '10.0.100'
    secrets:
      GH_TOKEN:       '${{ secrets.CLOUDTEK_AUTOMATION_TOKEN }}'
      NUGET_API_KEY:  '${{ secrets.NUGET_API_KEY }}'
